  
  #container1 {
    
    margin: 20px auto;
    padding-bottom: 50px;
   
  }
  
  #container1 h2 {
    font-weight: bold;
    text-align: center;
  }
  
  #quoteContainer {
  
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    margin-bottom: 40px;

  }
  
  #buttonContainer {
    width: 100%;
    text-align: center;
  }
  
  #quoteButton {
    width: 200px;
    margin-top: 10px;
    border: 2px solid #6BBEF0;
    color: #045;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    
  }
  
  #quoteButton:hover {
    background: #6BBEF0;
    color: white;
  }
  
  #quoteGenius {
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
  
  @media screen and (max-width: 640px) {
    #quoteContainer {
      margin-bottom: 100px;
    }
  }
  
  @media screen and (max-width: 1004px) {
    #quoteContainer {
      margin-bottom: 70px;
    }
  }
  